* {
	border: 1px solid black;
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	max-height: 50px;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.toprightul {
	text-align: right;
}

.topright {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	margin: 0px 0.5em;
}

.bottomul {
	text-align: left;
	width: 100%;
}

.botleft {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	margin: 0px 0.5em;
}

.botright {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	margin: 0px 0.5em;
	float: right;
}

.boutons {
	display: inline-block;
	margin: 0px 0.5em;
}

.middle {
	position: absolute;
	top: 20%;
	text-align: center;
	margin: auto;
	width: 100%;
}

#pays {
	display: inline;
	position: relative;
	left: -60px;
}

#apps {
	height: 100%;
	padding: 0;
}

input {
	width: 30%;
	height: 3.5em;
	background-color: white;
	box-shadow: 3px 3px 5px 0.5px #ccc;

}

a{
	color: #000;
}
